<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<html lang="en">

<head>
    <meta charset="UTF-8">

    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <title>User panel</title>
</head>

<body>

<!-- Навигация  -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:utext="${user.getEmail()}">with roles: </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">with roles: </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:utext="${user.getRolesToString()}">Notifications</a>
            </li>

            <li class="nav-item dropdown">

                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

        </ul>
        <a class="btn btn-outline-light" href="/logout">Logout</a>
        <!--        <div style="width: 2200px; text-align: right">-->


        <!--            <a class="btn btn-outline-light" href="/logout">Logout</a>-->

        <!--        </div>-->
    </div>
</nav>


<!-- Разметка  -->

<div class="row" style="">

    <div class="  col-md-2"  style="height: 100px;">
        <ul class="nav flex-column nav-pills ">
            <li class="nav-item">
                <div style="margin-top: 35px;" >
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Admin</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="/user">User</a>
            </li>
        </ul>



    </div>


    <div class="col-md-10">
        <br>


        <h1>User information-page</h1>




        <div style="height: 68px;">
            <br>
            <h5>About user</h5></div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>

            </tr>
            </thead>

            <tbody>
            <tr>
            <tr th:each="usr : ${user}">
                <td><a th:utext="${usr.getId()}">Id</a></td>

                <td th:utext="${usr.getName()}">...</td>
                <td th:utext="${usr.getEmail()}">...</td>
                <td th:utext="${usr.getRolesToString()}">...</td>

            </tr>

            </tbody>
        </table>
    </div>







</div>


</div>


</div>



<script src="webjars/jquery/3.6.0/jquery.js"></script>
<script src="webjars/popper.js/1.12.9-1/umd/popper.js"></script>
<script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script src="/js/action.js"></script>
</body>
</html>

